body {
  margin: 0;
  background-color: #444;
}

.app-container {
  display: flex;
  height: 100vh;
}
/*leader board style*/
.leaderboard {
  width: 250px;
  background-color: #222;
  color: white;
  padding: 1rem;
  box-sizing: border-box;
  overflow-y: auto;
}
